{% extends "layout.html" %}
{% block pageroot %}
<div class="siimple-navbar siimple-navbar--extra-large siimple-navbar--primary">
  <div class="siimple-navbar-title">
    Data Delivery Service
  </div>
  <div class="siimple--float-right">
    <div class="siimple-navbar-item">Right</div>
  </div>
</div>
<div class="siimple-content siimple-content--extra-large">
  <div class="siimle-grid">
    <div class="siimple-grid-row">
      <div class="siimple-alert siimple-alert--primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </div>
    </div>
    <div class="siimple-grid-row">
      <div class="siimple-grid-col siimple-grid-col--6">
        <div class="siimple-card">
          <div class="siimple-card-header">
              Card header
          </div>
          <div class="siimple-card-body">
              Card content
          </div>
          <div class="siimple-card-footer">
              Card footer
          </div>
        </div>
      </div>
      <div class="siimple-grid-col siimple-grid-col--6">
          <div class="siimple-card">
            <div class="siimple-card-header">
                Card header
            </div>
            <div class="siimple-card-body">
                Card content
            </div>
            <div class="siimple-card-footer">
                Card footer
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="siimple-footer siimple-footer--extra-large siimple-footer--dark">
  <strong>footer</strong>
</div>
{% endblock %}
